# Cmake build routine
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# IDEs
.vscode/
vs/.vs/
vs/commandcenter

vs/Debug
vs/Release
vs/x64

bin/CommandCenter
bin/*.exe
bin/*.ilk
bin/TechTree.json
bin/*.lib

*.tlog
*.obj
vs/RelWithDebInfo/CommandCenter.log
*.log
*.pdb
